.workform__container {
  width: calc(100% - 40px);
  padding: 15px;
  margin-top: 20px;
  border: solid 2px rgb(164, 134, 172);
  border-radius: 20px;
  background-color: rgb(203, 208, 233);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
  color: black;
  .workform__input {
    margin-bottom: 10px;
    padding: 20px;
  }
  .workform__button {
    color: var(--white);
    margin-left: 75%;
    app-button {
      margin: 10px;
    }
  }
}
