.right__subtitle {
  margin: 18px 0 6px;
  display: flex;
  justify-content: space-between;
  h4 {
    opacity: 60%;
  }
}
.right__plan {
  border-bottom: 1px solid rgb(117, 70, 129);
  padding-bottom: 16px;
}
